{% extends 'master.html' %}

{% block title %}
    List of all members    
{% endblock title %}
    

{% block content %}
    <p><a href="/">HOME</a></p>

    <h1>Umbrella Corporation</h1>
    <p>Welcome to our members section. You can see all our members here.</p>


        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            {% for x in mymembers %} <!-- The percentage in carly bracket are Django tags telling Django to perform some programming logic -->
                <tr>
                    <td>{{x.id}}</td>
                    <td><a href="details/{{ x.id }}">{{x.firstname}} {{x.lastname}}</td>
                </tr>               
            {% endfor %}
        </table>

        <br>

        <form action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            
            <input type="text" name="firstname" placeholder="Enter firstname">

            <button type="submit">Submit</button>
        </form>


        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>

            {% for x in data %} <!-- The percentage in carly bracket are Django tags telling Django to perform some programming logic -->
                <tr>
                    <td>{{x.id}}</td>
                    <td><a href="{% url 'details' x.id %}">{{x.firstname}} {{x.lastname}}</td>
                </tr>               
            {% endfor %}
        </table>

{% endblock content %}
