{% extends 'master.html' %}

{% block title %}
    List of all members    
{% endblock title %}
    

{% block content %}
    <p><a href="/">HOME</a></p>

    <h1>Umbrella Corporation</h1>
    <p>Welcome to our members section. You can see all our members here.</p>


    <ul>
        {% for x in mymembers %} <!-- The percentage in carly bracket are Django tags telling Django to perform some programming logic -->
            <li><a href="details/{{ x.id }}">{{x.firstname}} {{x.lastname}}</li>
        {% endfor %}
    </ul>

{% endblock content %}
